%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://yui.yahooapis.com/pure/0.4.2/pure-min.css"}
    %meta{:name => "viewport", :content => "initial-scale=1, maximum-scale=1"}
  %body
    %p #{locals[:test]}
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3
        %h1 mtgp
        .pure-form
          %form{ :action => "", :method => "get"}
            %label{:for => "search"} Card Name
            %input{:type => "text", :name => "cardname"}
            %input{:type => "submit", :value => "Search", :class => "button"}
        .pure-g
          .pure-u-1-3
            low: 
            =low 
          .pure-u-1-3
            mid: 
            =mid
          .pure-u-1-3
            high: 
            =high
