%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://yui.yahooapis.com/pure/0.4.2/pure-min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "../stylesheets/style.css"}
    %meta{:name => "viewport", :content => "initial-scale=1, maximum-scale=1"}
  %body
    %p #{locals[:test]}
    .pure-g-r
      .pure-u-1-3
      .pure-u-1-3
        .pure-u-1-3
        .pure-u-1-3
          %h1 mtgp
        .pure-u-1-3
        .pure-form
          %form{ :action => "", :method => "get"}
            %label{:for => "search"} Card Name
            %input{:type => "text", :name => "cardname", :placeholder => "card name;set"}
            %input{:type => "submit", :value => "Search", :class => "pure-button "}
        .pure-u-1-4
          .pure-hidden-phone
            low: 
          =low 
        .pure-u-1-4
          .pure-hidden-phone
            mid: 
          =mid
        .pure-u-1-4
          .pure-hidden-phone
            high:
          =high
        .pure-u-1-4
