%h2 mtgp
%form{ :action => "search", :method => "get"}
  %label{:for => "search"} Card Name
  %input{:type => "text", :name => "cardname"}
  %input{:type => "submit", :value => "Search", :class => "button"}
